.Playlist{
    /* overflow-x: auto; */
    /*witdh: 500px*/
    white-space: nowrap;
    /*
    display:flex;
    flex-wrap:wrap;
    height: 500px;
    background: red;
    */
    /* overflow-y: hidden */
    padding-bottom: 80px;
    font-family: Arial, Helvetica, sans-serif

}
.Playlist-description{
    font-family: Arial, Helvetica, sans-serif
}
.Playlist-title{
    font-family: Arial, Helvetica, sans-serif

}
.Category{
    display: grid;
    grid-auto-flow: row
}
.Category.Playlist{
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 80px;

}