.Regular-error{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Regular-error img{
    max-width: 1200px;
    width: 900px;
    height: 100vh;
    cursor: pointer;
}
/* body{
    background: #010c4e;
} */